
/* Base Styles - Mobile First */
body {
    font-family: Arial, sans-serif;
    margin: 1px;
    padding: 1px;
    background-color: #56a2d5;
    text-align: center;
    color: #000000;
   }
   header {
    background-color: #71c2a5;
    color:rgb(0, 0, 0);
    padding: 1%;
    position: center;
    margin: 1px;
    text-align: center;
    z-index: 1px;
    top: 1px;
    width: 96%;
   }
   .menu {
    list-style: none;
    padding: 5px;
    margin: 5px;
   }
   nav {
    display: flex;
    background: #0044ff;
    position: static;
    text-align: center;
    padding: 1px 5px;
    margin: 1px;
    z-index: 10;
    top: 10px;
    width: 100%;
    z-index: 1px;
   }
  
   .menu li {
    padding: 5px;
    border-bottom: 5px solid #7300ff;
    text-align: center;
   }
   .menu li a {
    text-decoration: none;
    color: rgb(25, 0, 255);
    display: block;
    padding: 5px;
   }
   #menu-check {
    display: none;
   }
   #menu-check:checked ~ nav {
    display: block;
   }
   .menu-icon {
    position: static;
    top: 5px;
    left: 5px;
    font-size: 2em;
    cursor: pointer;
   }
   .container {
    color: #000000;
    width: 75%;
    margin:  auto;
    padding-top: 5%;
   }
   .intro {
    padding: 1%;
    background: rgb(0, 0, 0);
    margin: 1px 1x;
    border-radius: 1px;
   }
   .card {
    background: rgb(165, 96, 98);
    padding: 1px;
    margin: 1px 0;
    border-radius: 1px;
    box-shadow: 5px 5px 70px rgba(251, 251, 252, 0.5);
   }
   .card img {
    background-color: #3b4756;
    width: 96%;
    border-radius: 5px;
   }
   

    /* Cell View */
    @media screen and (min-width: 500px) {
        #menu-check, .menu-icon {
        display: none;
        }
        nav {
            display: block;
            position: static;
            background: #597762;
            text-align: center;
            padding: 2px 0;
        }
        .menu {
            display: inline-block;
        }   
        .menu li {
            display: inline-block;
            padding: 10px 15px;
            border-bottom: none;
            }
        }
      /* Tablet View */
      @media screen and (min-width: 768px) {
        #menu-check, .menu-icon {
        display: none;
        }
        nav {
            display: block;
            position: static;
            background: #6c6c95;
            text-align: center;
            padding: 2px 0;
        }
        .menu {
            display: inline-block;
        }   
        .menu li {
            display: inline-block;
            padding: 10px 15px;
            border-bottom: 10px;
            }
        }
        
    /* Desktop View - Sidebar Nav */
    @media screen and (min-width: 1024px){
    #menu-check, .menu-icon {
    text-align: left;
    }
    nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background: #255270;
    padding-top: 5px;
    padding-bottom: 5px;
    }
    .menu {
        padding-left: 0;
        }
        .menu li {
        display: block;
        padding: 25px;
        }
        .container {
        margin-left: 10px;
        width: calc(98% - 260px);
        }
        header {
        margin-left: 10px;
        text-align: center;
        }


    }
